In [2]:
import pandas as pd
import pyarrow.parquet as pq
import connectorx as cx
from io import StringIO
import datetime as dt

In [52]:
# Load SL file
a_file = 'wide-mt4_pu-account.parquet'
df= pd.read_parquet(a_file)

In [55]:
# df.sort_values(by = 'trade_date', ascending= True)
# df[df['trade_date'] == '2023-08-31']
df[df['trade_date']==dt.datetime(2023,8,31).date()]
# df['trade_date'].max()

               login  trade_date  today_deposit  today_withdrawal  balance  today_closed_pnl  total_unrealized_pnl  current_credit   equity  today_swaps  ...   ytd_pnl  ytd_pnl_delta  t_m2_pnl_delta  t_m3_pnl_delta  t_m4_pnl_delta  t_m5_pnl_delta  t_m6_pnl_delta  t_m7_pnl_delta  num_pos_pnl_delta_past_7_days  total_7d_pnl_delta
2912          600023  2023-08-31           0.00              0.00     1.70              0.00                  0.00            0.00     1.70         0.00  ...      0.00           0.00            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00
3763          600031  2023-08-31           0.00              0.00  2561.91            -64.17                  0.00            0.00  2561.91         0.00  ... -12014.47      -12016.00          -23.06            0.66            0.00            0.00            0.00            3.33                              3              -12.25
4612          600046  2023-08-31           0.00              0.00     5.12              0.00                  0.00            0.00     5.12         0.00  ...   1502.93        1502.93            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00
6041          600048  2023-08-31           0.00              0.00     1.07              0.00                  0.00            0.00     1.07         0.00  ... -13141.07      -13141.07            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00
10572         600069  2023-08-31           0.00              0.00     0.20              0.00                  0.00            0.00     0.20         0.00  ...      0.00           0.00            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00
...              ...         ...            ...               ...      ...               ...                   ...             ...      ...          ...  ...       ...            ...             ...             ...             ...             ...             ...             ...                            ...                 ...
22160641      756751  2023-08-31           0.00              0.00     0.00              0.00                  0.00            0.00     0.00         0.00  ...      0.00           0.00            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00
22160642      756752  2023-08-31           0.00              0.00     0.00              0.00                  0.00            0.00     0.00         0.00  ...      0.00           0.00            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00
22160675      756753  2023-08-31           0.00              0.00     0.00              0.00                  0.00            0.00     0.00         0.00  ...      0.00           0.00            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00
22162927  1000000209  2023-08-31           0.00              0.00     1.00              0.00                  0.00            0.00     1.00         0.00  ...      0.00           0.00            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00
22163017  1000000211  2023-08-31           0.00              0.00 53153.04              0.00                  0.00            0.00 53153.04         0.00  ...      0.00           0.00            0.00            0.00            0.00            0.00            0.00            0.00                              0                0.00

[11779 rows x 33 columns]

In [ ]:
# filtered_df = df[
#     (df['today_closed_pnl'] != 0) &
#     (df['today_deposit'] != 0 ) &
#     (df['today_swaps'] != 0 ) &
#     (df['total_deposit'] != df['today_deposit'])]
filtered_df = df[df['login'] == 756618]
# filtered_df.tail(20)


#Output SL FILE TO EXCEL
filtered_df.to_excel('756618.xlsx', index = False)

In [ ]:
df.iloc[255]

In [ ]:
#Output Choosen LOgin With Date
selected_row = df.iloc[255:256]
row_table = selected_row.to_string(index=False, header=True, justify='left')
row_df = pd.read_csv(StringIO(row_table), delimiter='\s+')
row_df.to_excel("output_excel_file5.xlsx", index=False)

In [ ]:
# t_m1_pnl_delta
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306/brad"
 
deltaM1 = f"""
SELECT
    SUM(
        (SELECT SUM(close_pnl * (equity_in_usd / equity))
        FROM {fromBrad}
        WHERE db = '{xdb}'
        AND login = {xlogin}
        AND `date` = '{xdate}'
        )
        +
        (SELECT SUM(floating_pnl * (equity_in_usd / equity))
        FROM {fromBrad}
        WHERE db = '{xdb}'
        AND login = {xlogin}
        AND `date` = '{xdate}'
        )
        -
        (SELECT SUM(floating_pnl * (equity_in_usd / equity))
        FROM {fromBrad}
        WHERE db = '{xdb}'
        AND login = {xlogin}
        AND `date` = '{xdate2}'
        )
    ) AS grand_total;
"""
t_m1_pnl_delta = cx.read_sql(mysql_url, deltaM1)
 
t_m1_pnl_delta

SETUP

In [41]:
# Setup
xlogin = 756618
xdate = '2023-10-02'
xdate2 = '2023-10-01'
xdb = 'PUG2'
fromBrad = 'bbook_v_2_2021'
fromDetail = 'pug.detail'

In [ ]:

#EQUITY
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306/brad"
# xlogin = input('Login: ')
# xdate = input('Date: (yyyy-mm-dd)')
query = f"""
SELECT login, date, coalesce(balance*(equity_in_usd/equity),0)AS balance, equity_in_usd AS equity , coalesce(close_pnl*(equity_in_usd/equity ),0) AS ClosePNL, credit_in_usd, floating_pnl *(equity_in_usd/equity) AS unrealized_pnl, (close_pnl*(equity_in_usd/equity)+ unrealize_pnl*(equity_in_usd/equity))  as Historical_pnl
FROM {fromBrad}
WHERE db = '{xdb}'
AND login = {xlogin}

"""
db1 = cx.read_sql(mysql_url, query)


#Infinox
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306/infinox"
query = f"""
SELECT date, deposit, withdrawal, (m_swap + s_swap) AS today_swap, (m_volume+s_volume)*2 as today_volume, (m_commission + s_commission) AS today_commission
FROM {fromDetail}
WHERE db = '{xdb}'
AND login = {xlogin}

"""
db2 = cx.read_sql(mysql_url, query)

#OUTPUT
db2['date'] = pd.to_datetime(db2['date'])
pd.set_option('display.width', 1000)
combined_db = pd.merge(db1, db2, on='date', how='left')
print(combined_db)

In [ ]:
combined_db.to_excel("756618 Check.xlsx", index=False)

In [ ]:
# t_m1_pnl_delta
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306/brad"

deltaM1 = f"""
SELECT
    SUM(
        (SELECT SUM(close_pnl * (equity_in_usd / equity))
        FROM {fromBrad}
        WHERE db = '{xdb}'
        AND login = {xlogin}
        AND `date` = '{xdate}'
        )
        +
        (SELECT SUM(floating_pnl * (equity_in_usd / equity))
        FROM {fromBrad}
        WHERE db = '{xdb}'
        AND login = {xlogin}
        AND `date` = '{xdate}'
        )
        -
        (SELECT SUM(floating_pnl * (equity_in_usd / equity))
        FROM {fromBrad}
        WHERE db = '{xdb}'
        AND login = {xlogin}
        AND `date` = '{xdate2}'
        )
    ) AS grand_total;
"""
t_m1_pnl_delta = cx.read_sql(mysql_url, deltaM1)

t_m1_pnl_delta

In [ ]:
# Historical PNL
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306/brad"

History = f"""
SELECT
    SUM(
        (SELECT SUM(close_pnl * (equity_in_usd / equity))
        FROM {fromBrad}
        WHERE db = '{xdb}'
        AND login = {xlogin}
        AND `date` <= '{xdate}'
        )
        +
        (SELECT SUM(floating_pnl * (equity_in_usd / equity))
        FROM {fromBrad}
        WHERE db = '{xdb}'
        AND login = {xlogin}
        AND `date` = '{xdate}'
        )
    ) AS grand_total;
"""
HistoricalPNL = cx.read_sql(mysql_url, History)

HistoricalPNL

In [25]:
# Load SL file
a_file = 'wide-mt4_pu5-account.parquet'
df= pd.read_parquet(a_file)
# max_trade_date = df['trade_date'].max()
# max_trade_date

In [ ]:

# Whole Brand total by multiple Dates
dates_to_filter = [dt.date(2023, 9, 8), dt.date(2023, 9, 10), dt.date(2023, 9, 30)]

# Initialize an empty DataFrame to store the results
result_df = pd.DataFrame()

for date in dates_to_filter:
    # Filter the DataFrame based on the current date
    filtered_df = df[df['trade_date'] == date]

    columns_to_sum = [
        'today_deposit',
        'today_withdrawal',
        'today_swaps',
        'today_volume_usd_done',
        'balance',
        'today_closed_pnl',
        'total_unrealized_pnl',
        'current_credit',
        'equity'
    ]

    column_sums = filtered_df[columns_to_sum].sum()
    pd.options.display.float_format = '{:.2f}'.format

    # Create a new row with the current date as the index
    result_df[date] = column_sums

# Transpose the result DataFrame
final_result_df = result_df.transpose()

# Reset the index to have the dates as a regular column
final_result_df = final_result_df.reset_index()

# Rename the columns
final_result_df.columns = ['Date'] + columns_to_sum

# Export the result to an Excel file
final_result_df.to_excel('separate_sums.xlsx', index=False)

In [28]:
#Whole Brand Total By Date (SL DATA)
filtered_df = df[df['trade_date']==dt.datetime(2023,9,28).date()]
# filtered_df = df
columns_to_sum = [
    'today_deposit',
    'today_withdrawal',
    'balance',
    'today_closed_pnl',
    'total_unrealized_pnl',
    'current_credit',
    'equity',
    'today_swaps',
    'today_volume_usd_done'
]

column_sums = filtered_df[columns_to_sum].sum()
pd.options.display.float_format = '{:.2f}'.format
# column_sums
result_df = pd.DataFrame({'Column Name': columns_to_sum, 'Sum': column_sums})
result_df = result_df.transpose()
result_df.to_excel('paste.xlsx', index=False)

In [50]:
# Total of EACH DB BY DATE (TP DB)
#EQUITY
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306/brad"

query = f"""
select sum(balance*(equity_in_usd/equity)) as balance, sum(close_pnl*(equity_in_usd/equity)) as closepnl, sum(floating_pnl  *(equity_in_usd/equity)) as unrealized, sum(credit*(equity_in_usd/equity))as credit, sum(equity_in_usd)as equity
FROM {fromBrad}
WHERE db = '{xdb}'
and `date` = '2023-05-31'
"""
db1 = cx.read_sql(mysql_url, query)


#detail
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306/infinox"
query = f"""
select sum(deposit)as deposit, sum(withdrawal)as withdrawal, sum((m_swap+s_swap))as swap, sum((m_volume+s_volume)*2) as vol  
FROM {fromDetail}
WHERE db = '{xdb}'
and `date` = '2023-05-31'
"""
db2 = cx.read_sql(mysql_url, query)

#OUTPUT
pd.set_option('display.width', 1000)
combined_db = pd.concat([db1, db2], axis = 1)
combined_db = combined_db[['deposit','withdrawal','swap','vol','balance','closepnl','unrealized','credit','equity']] # reorder column

print(combined_db)

   deposit  withdrawal      swap    vol    balance  closepnl  unrealized     credit     equity
0 74837.48   -21910.16 -24389.72 486.25 7054646.92  23532.84 -1232247.11 2067995.75 7890395.57