In [1]:
import pandas as pd
import pyarrow.parquet as pq
import connectorx as cx
from io import StringIO
import datetime as dt

In [2]:
#DB
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306"

query = f"""
WITH LastDatePerMonth AS (
    SELECT
        server,
        EXTRACT(YEAR FROM `date`) AS year,
        EXTRACT(MONTH FROM `date`) AS month,
        MAX(`date`) AS max_date
    FROM `user`.daily_accounts_sales
    WHERE server IN (
        "oplreport", "ivreport", "mt5_startrader_live", "startrader2report", "bhs1report", "gomarketreport", "bhs3report", "bhs2report", "mt5_1", "infinoxcnreport", "inf06report", "vida08report", "mt5_vida_live", "rf1report"
    )
    AND `date` >= '2023-01-01'
    GROUP BY server, year, month
)
SELECT s1.*
FROM `user`.daily_accounts_sales s1
JOIN LastDatePerMonth ldpm ON s1.server = ldpm.server
    AND EXTRACT(YEAR FROM s1.`date`) = ldpm.year
    AND EXTRACT(MONTH FROM s1.`date`) = ldpm.month
    AND s1.`date` = ldpm.max_date
    AND s1.`date` >= '2023-01-01'
"""

In [4]:
df = pd.read_sql(query, mysql_url)

In [5]:
df

,login,server,sales_name,sales_group,ib_name,rebate_account,date,status,crm_server,user_id,level_one_ib_id,level_one_rebate_account,level_one_ib_name,cpa,leadsource,websource
0,3010,ivreport,Carson Chan,HK Sales Team,Shaofeng Huang,70155,2023-01-31,0,iv_crm,2766,502,70155,Shaofeng Huang,0,百度推廣,
1,3018,ivreport,0,Sales,0,0,2023-01-31,RE,iv_crm,2766,0,0,0,0,百度推廣,
2,3020,ivreport,Delorous D,HK Sales,Rito Hlungwani,20435,2023-01-31,,svg_crm,203270,204881,20435,Rito Hlungwani,0,,
3,3025,ivreport,0,All Retail Accounts,0,0,2023-01-31,,svg_crm,203270,199277,0,Good test,0,,
4,3033,ivreport,0,All Retail Accounts,0,0,2023-01-31,,svg_crm,203270,199277,0,Good test,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3128520,1000076454,bhs3report,Robin Benting,ZA,0,0,2023-10-31,,inx_fsc_business,5150663,0,0,0,0,,
3128521,2000000006,gomarketreport,Razvan Rotaru,INFINOX Client Services Team,0,0,2023-10-31,,inx_fca_business,5167121,0,0,0,0,,
3128522,2000000022,bhs1report,Infinox Support,Infinox,0,0,2023-10-31,,inx_fsc_business,4962519,0,0,0,0,,
3128523,2000000023,bhs1report,Infinox Support,Infinox,0,0,2023-10-31,,inx_fsc_business,4964148,0,0,0,0,,
3128524,2000000024,bhs1report,Infinox Support,Infinox,0,0,2023-10-31,,inx_fsc_business,4962637,0,0,0,0,,

In [8]:
#OUTPUT
df.to_csv("DailySales.csv", index=False)