In [1]:
import pandas as pd
import pyarrow.parquet as pq
import connectorx as cx
from io import StringIO
import datetime as dt

In [2]:
#DB
mysql_url = "mysql://DataMY_read:qeC18ub3n3@192.168.1.179:3306"

query = f"""
WITH LastDatePerMonth AS (
    SELECT
        server,
        EXTRACT(YEAR FROM `date`) AS year,
        EXTRACT(MONTH FROM `date`) AS month,
        MAX(`date`) AS max_date
    FROM `user`.daily_accounts_sales
    WHERE server IN (
        "oplreport", "ivreport", "mt5_startrader_live", "startrader2report", "bhs1report", "gomarketreport", "bhs3report", "bhs2report", "mt5_1", "infinoxcnreport", "inf06report", "vida08report", "mt5_vida_live", "rf1report"
    )
    GROUP BY server, year, month
)
SELECT
    CASE
        WHEN db = 'RG' THEN 'rf1report'
        when db = 'OPL' then 'oplreport'
        ELSE 'no need'
    END AS server,
    login, `date`, equity_in_usd
FROM brad.bbook_v_2_2021 bv
WHERE db IN ("RG", "OPL")
    AND `date` IN (SELECT max_date FROM LastDatePerMonth WHERE server = 'oplreport' AND year = EXTRACT(YEAR FROM `date`) AND month = EXTRACT(MONTH FROM `date`))
UNION ALL
SELECT
    CASE
        WHEN db = 'BHS-CN' THEN 'bhs2report'
        WHEN db = 'BHS-UK' THEN 'bhs1report'
        WHEN db = 'BHS_asian' THEN 'bhs1report'
        WHEN db = 'BHS3' THEN 'bhs3report'
        when db = 'IUK2' then 'infinox2report'
        when db = 'BHS3_asian' then 'bhs3report'
        ELSE 'no need'
    END AS server,
    login, `date`, equity_in_usd
FROM brad.bbook_i_1_2021 bv
WHERE db IN ("BHS-CN","BHS-UK","BHS3","BHS3_asian","BHS_asian","IUK2")
    AND `date` IN (SELECT max_date FROM LastDatePerMonth WHERE server = 'bhs1report' AND year = EXTRACT(YEAR FROM `date`) AND month = EXTRACT(MONTH FROM `date`))
UNION ALL
SELECT
    CASE
        when db = 'BHS-UK-MT5' then 'mt5_1'
        when db = 'BHS_asian-MT5' then 'mt5_1'
        when db = 'BHS-CN-MT5' then 'mt5_1'
        WHEN db = 'ICN' THEN 'infinoxcnreport'
        WHEN db = 'IUK' THEN 'gomarketreport'
        WHEN db = 'IUK_asian' THEN 'gomarketreport'
        WHEN db = 'IXS' THEN 'infinoxcnreport'
        when db = 'IUK2' then 'infinox2report'
        WHEN db = 'INF06' THEN 'inf06report'
        when db = 'INF08' then 'vida08report'
        when db = 'INF08_MT5' then 'mt5_vida_life'
        WHEN db = 'IV' THEN 'ivreport'
        WHEN db = 'IV2' THEN 'startrader2report'
        WHEN db = 'STARTRADER_MT5' THEN 'mt5_startrader_live'
        ELSE 'no need'
    END AS server,
    login, `date`, equity_in_usd
FROM brad.bbook_i_2_2021 bv
WHERE db IN ("BHS-CN-MT5","BHS-UK-MT5","BHS_asian-MT5","ICN","IUK","IUK_asian","IV","IXS","IUK2","INF06","INF08","INF08_MT5","STARTRADER_MT5","IV2")
    AND `date` IN (SELECT max_date FROM LastDatePerMonth WHERE server = 'mt5_1' AND year = EXTRACT(YEAR FROM `date`) AND month = EXTRACT(MONTH FROM `date`));

"""

In [3]:
df = pd.read_sql(query, mysql_url)
df.to_excel("equity.xlsx", index=False)

ValueError: This sheet is too large! Your sheet size is: 1897434, 4 Max sheet size is: 1048576, 16384

In [5]:
df['server'].unique()

array(['oplreport', 'rf1report', 'bhs2report', 'bhs1report', 'bhs3report',
       'mt5_1', 'infinoxcnreport', 'inf06report', 'vida08report',
       'mt5_vida_life', 'gomarketreport', 'ivreport', 'startrader2report',
       'mt5_startrader_live'], dtype=object)